.button {
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    position:relative; left:800px; top: 410px;
    
    
  }

 .button1{
    background-color: rgb(202, 21, 21);
    padding:15px 80px;
 }

  .button2{
    background-color: rgb(64, 64, 126);
    padding: 15px 73px;
  }
  .button3{
    background-color: rgb(43, 43, 255);
    padding:15px 125px;
    position:relative; left:800px; top: 390px;

  }
  .line-1{
    height: 1px;
    width: 300px;
    background-color:lightgray;
    position:relative; left:800px; top: 400px;
  }
  .line-2{
    height: 1px;
    width: 300px;
    background-color:lightgray;
    position:relative; left:800px; top: 420px;
  }
  
  
  .link1{
    position:relative; left:800px; top: 450px;
  }

  